Unity.2D*
Assembly*
obj/
Library/
Logs/
Temp/
.vscode/
.DS_Store
.vs/
.vsconfig
UnityEngine*
mono_crash*
Unity.*
UnityEngine.*
UnityEditor.*
DocCode*
Separ*
PsdPlug*
UserSettings/
*.sln
ProjectSettings/
Packages/
bin/
